{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  
  <div class="content-setion">
     <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <fieldset class="form-group">
             <legend class="border-bottom mb-4">Add a new Movie</legend>
             {{ form|crispy }}
         </fieldset>  
         <div style="padding-top: 10px;" class="form-group">
            <button class="btn btn-outline-info" type="submit">Create</button>
         </div>
     </form>
     
   </div>  
{% endblock %}   