{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>Login</h1>
  <div class="content-setion">
     <form method="POST">
         {% csrf_token %}
         <fieldset class="form-group">
             <legend class="border-bottom mb-4">Join Today</legend>
             {{ form|crispy }}
         </fieldset> 
         <br> 
         <div class="form-group">
            <button class="btn btn-outline-info" type="submit">login</button>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset'%}">Forgot your password??</a>
            </small>
         </div>
     </form>
     <div class="border-top pt-3">
         <small class="text-muted">
              Create A Account??  <a class="ml-10 btn btn-outline-secondary" href="{% url 'signup'%}">  Register</a>
         </small>
     </div>
     <a class="pl-4" href="{% url 'password_reset'%}">Forgot your password??</a>
   </div>  
{% endblock %}   